<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whisperwave</title>
    <link href="css/landingPage.css" rel="stylesheet" >
</head>
<body>
    <nav>
        <a href="/about" id="aboutlink">About</a>
        <a href="/contact" id="contactlink">Contact</a>
        <a href="/signup" id="signuplink">Signup</a>
        <a href="/login" id="loginlink"><div class="logindiv">Login</div></a>
     </nav>
</body>
</html>