<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whisperwave</title>
    <link href="css/landingPage.css" rel="stylesheet" >
    <link rel="icon" href="/img/favicon (2).ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <a href="/about" id="aboutlink">About</a>
        <a href="/contact" id="contactlink">Contact</a>
        <% if(loggedIn){%>
        <a href="/chats" id="chat">Start chat</a>
        <%}else{%>
        <a href="/signup" id="signuplink">Signup</a>
        <a href="/login" id="loginlink"><div class="logindiv">Login</div></a>
        <%}%>
     </nav>

     <div id="main">
        <div id="content">
             <h3 class="content-head">WhishperWave <span class="intro">Chat Application</span></h3>
             <p class="content-dis">Welcome to WhisperWave, the chat app designed to connect you with anyone, anywhere, instantly and privately. Whether you’re looking to chat one-on-one, connect in groups, or explore open communities, WhisperWave makes it easy and fun.</p>

             <a class="explorelink" href="/login">
                <div class="explore" >Explore 
                <i class='fas fa-arrow-right'></i>
             </div>
            </a>
        </div>

        <img class="landingimg" src='/img/chatimgnew (1).png'>

     </div>
</body>
</html>