body{
    margin:0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #ffffff, #f2d9d3);
    height: 95.5vh;
}

nav{
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#aboutlink,#contactlink,#loginlink,#signuplink{
    color:  rgb(139 135 135);;
    margin-right: 50px;
    text-decoration: none;
}

#aboutlink,#contactlink,#loginlink,#signuplink:active{
    color:  rgb(139 135 135);;
}
#aboutlink,#contactlink,#loginlink,#signuplink:visited{
    color:  rgb(139 135 135);;
}
.logindiv {
    border: 1px solid rgb(253, 224, 218);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    background-color: rgb(220 195 190);
}
#loginlink{
    color: white;
    font-weight: 600;
}

#main{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content:flex-end;
    margin-right: 100px;
} 

#content {
   
    margin-right: 50px;

    width: 30%;
}

.landingimg {
    width: 690px;
    height: 600px;
}

.content-head {
    margin: 0;
    font-size: 46px;
    color: rgb(175 101 85);
}
.intro {
    color: rgb(214 160 149);
}

.content-dis{
    color:  rgb(122, 118, 118);;
    line-height: 25px;
}

.explore{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    border-radius: 20px;
    width:116px;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    background-color: rgb(220 195 190);
    color: white;
    font-weight: 600;
}
.explorelink {
    width: 116px;
    display: flex;
    text-decoration: none;
}
.explorelink:active{

}
.explorelink:visited{
    
}